.btn {
  background-color: #29a19c;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 12px 24px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #29a19c;
  border: 1px solid #29a19c;
}
