.container {
  width: 60rem;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title > h1 {
  color: #29a19c;
  font-size: 2rem;
  font-weight: 600;
}

.title > img {
  transition: 0.1s;
}

.title > img:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.name > label {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.name,
.select,
.deadline {
  position: relative;
}

.select {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  position: relative;
}

.selectheader {
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid rgba(40, 40, 70, 0.1);
  border-radius: 0.8rem;
  width: fit-content;
}

.selectheader > span {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: space-between;
}

.selectheader > span > img {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.selectheader:hover {
  cursor: pointer;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  z-index: 1000;
  animation: slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.options > span {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  transition: 0.4s;
}

.option > span > img {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 1rem;
}

.options > span:not(:last-child) {
  margin-bottom: 1.5rem;
}

.options > span:last-child {
  margin-bottom: 1.5rem;
}

.options > span:first-child {
  margin-top: 1.5rem;
}

.options > span:hover {
  cursor: pointer;
  transform: translateX(2px);
}

.inputtitle {
  color: #282846;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

/* datepicker */
.test {
  font-family: "Nunito", sans-serif !important;
  width: 30rem;
}

.test > div {
  border: 1px solid rgba(40, 40, 70, 0.1) !important;
  padding: 4px 15px !important;
  font-size: 1.4rem !important;
  border-radius: 8px;
}

.calender {
  width: 30rem !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 1rem !important;
  background-color: #f9f9f9 !important;
  border: none !important;
}

.error {
  color: #f05454;
  font-size: 1.1rem;
  margin: 0.5rem 0 0 0.5rem;
  position: absolute;
}

/* Animations */

@keyframes slide-bottom {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
