.list {
  max-height: 50rem;
  overflow-y: scroll;
  margin-top: 1rem;
  scrollbar-color: rgba(29, 52, 54, 0.2);
  scrollbar-width: thin;
}

.list::-webkit-scrollbar {
  width: 0.5rem;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 6rem;
  background-color: rgba(29, 52, 54, 0.2);
}

.list::-webkit-scrollbar-track {
  border-radius: 6rem;
}

.title > h1 {
  color: #29a19c;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 2rem 0 2rem 2rem;
}
