.listItem {
  font-size: 1.4rem;
  color: #282846;
  border: 1px solid rgba(40, 40, 70, 0.1);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.listItem:hover {
  cursor: pointer;
  border: 1px solid transparent;
  background: rgba(40, 40, 70, 0.05);
}
