.container {
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  height: 21.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #29a19c;
}

.time {
  display: flex;
  justify-content: space-between;
}

.timeleft > p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.timer {
  display: flex;
  align-items: center;
}

.timer > p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.activity {
  font-size: 1.4rem;
  color: #29a19c;
}

.activity > span {
  font-weight: 600;
}

.message {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message > p {
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  .container {
    height: fit-content;
  }

  .container > div {
    margin-bottom: 1.5rem;
  }
}
.header > h1 {
  font-size: 1.4rem;
}
