.container {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  height: 21.1rem;
}
.container > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #29a19c;
  padding-bottom: 2rem;
}

.counters {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .container {
    height: fit-content;
  }

  .container > h1 {
    font-size: 1.4rem;
  }
}
