.container {
  display: flex;
  justify-content: flex-start;
}

.dashboardcontainer {
  width: 100%;
}

.dashboard {
  width: 90%;
  margin: auto;
}

.pendingTasksContainer,
.listContainer {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.listContainer {
  margin-top: 2rem;
  max-height: 100rem;
  overflow-y: scroll;
  scrollbar-color: rgba(29, 52, 54, 0.5);
  scrollbar-width: thin;
}

.listContainer::-webkit-scrollbar {
  width: 0.5rem;
}

.listContainer::-webkit-scrollbar-thumb {
  border-radius: 6rem;
  background-color: rgba(29, 52, 54, 0.5);
}

.list {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  padding-bottom: 2rem;
  height: fit-content;
}

.modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.modalout {
  animation: fadeOutAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modaldiv {
  height: 100%;
  width: 100%;
  background-color: rgba(40, 40, 70, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.canvasin {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    min-width: 90rem;
  }
  .upcomingDeadline,
  .activityView {
    margin-top: 2rem;
  }
  .dashboard {
    max-width: 60rem;
    min-width: 50rem;
  }
}

@media (min-width: 1025px) and (max-width: 1365px) {
  .container {
    min-width: 90rem;
  }
  .upcomingDeadline,
  .activityView {
    margin-top: 2rem;
  }
  .dashboard {
    max-width: 70rem;
    min-width: 50rem;
  }
}

@media (max-width: 800px) {
  .container {
    min-width: 70rem;
  }
}

@media (min-width: 1366px) {
  .pendingTasksContainer,
  .listContainer {
    flex-direction: row;
  }

  .pendingTasksContainer > *,
  .listContainer > * {
    flex-basis: 100%;
  }

  .pendingTasksContainer > * + *,
  .listContainer > * + * {
    margin-left: 6rem;
  }
}
