.title > h1 {
  color: #29a19c;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 2rem 0 1rem 2rem;
}

.message {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message > p {
  font-size: 1.6rem;
}
