.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: fit-content;
  position: sticky;
  top: 0;
}

.logo {
  padding: 2rem 0 0 2rem;
}

.logo > img {
  height: 4rem;
  width: 4rem;
}

.header {
  margin-bottom: 2rem;
}

.header > h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #29a19c;
  margin-top: 5rem;
}

.categories > div {
  margin-bottom: 3rem;
  padding-left: 2rem;
}

.categorycontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorycontainer:hover {
  cursor: pointer;
}

.category {
  display: flex;
  align-items: center;
}

.category > p {
  color: #282846;
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-right: 10rem;
  min-width: 7rem;
}

.category > img {
  height: 1.8rem;
  width: 1.8rem;
}
.category > img {
  height: 1.8rem;
  width: 1.8rem;
}

.logout {
  padding: 0 0 2rem 2rem;
}

.logout:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .logo {
    padding: 1rem;
  }
  .logo > img {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-height: 1366px) {
  .container {
    justify-content: flex-start;
  }

  .container > * + * {
    margin-top: 20rem;
  }
}
