.container {
  display: flex;
  align-items: center;
  height: 4.4rem;
  position: relative;
}

.container > p {
  font-size: 1.6rem;
  font-weight: 600;
}

.container:hover {
  cursor: pointer;
}

.profilepicture {
  margin: 0 2rem;
}

.profilepicture > img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.arrow {
  width: 2.4rem;
  height: 2.4rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
}

.arrow:hover {
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
}
